name: Latest blog post workflow
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Pull in Hashnode posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://saachis-blog.hashnode.dev/rss.xml"
          max_post_count: 1
          comment_tag_name: "HASHNODE_BLOG"
          template: "<table><tr><td><a href='$url'><img src='$cover_image' width='300' alt='$title' /></a></td><td><a href='$url'><strong>$title</strong></a><br/>$description...</td></tr></table>"
